.book-appointment-container{
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-card{
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.top-section {
    display: flex;
    gap: 3px;
    align-items: center;
}

.top-section h2{
    font-size: 15px;
    text-align: start;
}

.top-section p{
    font-weight:700;
    cursor: pointer;
}

.form-container, .form-section {
    display: flex;
    flex-direction: column;
}

.form-container{
    gap: 10px;
    margin-top: 10px;
}

.form-section {
    gap: 5px;
}

.form-section{
    text-align: start;
}

.form-section label{
    font-size: 13px;
    font-weight: 500;
}

.form-section input{
    padding: 4px 8px;
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 6px;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    outline: none;
}

.form-section input::placeholder {
    color: rgb(158, 158, 158);
    font-size: 13px;
    font-weight: 400;
}

.form-section select, textarea{
    font-size: 13px;
    padding: 4px 8px;
    font-weight: 400;
    outline: none;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

.cancel-btn, .book-btn{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn{
    border: 1px solid rgb(191, 191, 191);
    color: #000;
    background-color: transparent
}

.book-btn{
    background-color: rgb(73, 73, 243) ;
    border: none;
    outline: none;
    color: #FFF;
}

.cancel-btn:hover{
    background-color: rgb(217, 214, 214);
}

.book-btn:hover{
    opacity: 0.9;
}

.success-card{
    width: 280px;
    height: 250px;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.success-card img{
    width: 40px;
    height: 40px;
}

.success-card h2{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.success-card p{
    color: gray;
    font-size: 12px;
    font-weight: 500;
}

.success-card .success-patient-section{
     width: 80%;
     height: 100px;
     padding: 10px;
     background-color: rgb(194, 192, 192);
     color: gray;
     border-radius: 8px;
     border: none;
     outline: none;
}

.success-patient-section p{
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    line-height: 18px;
}

@media (max-width: 330px){
    .booking-card{
        width: 90%;
    }
}